*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(242, 242, 244, 1);
}

/* header styles */

.header{
    background-image: url("assets/background2.png"),
                      url("assets/background1.png");
    background-size: cover;
    height: 100vh;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.nav__ul, .nav__ul li{
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 1rem;
    font-family: "Open Sans", Arial,  sans-serif;
    font-weight: 300;
    font-size: small;
}

.header__container{
    display: flex;
    justify-content: space-around;
}

.container1{
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, p, button, .header__ul li, label{
    font-family: "Open Sans", Arial,  sans-serif;
}

.h1__header{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 35pt;
}
.h2__header{
    color: rgba(150, 154, 247, 1);
    font-weight: 700;
    font-size: 30pt;

}
.p__header{
    color: rgba(150, 154, 247, 1);
    font-weight: 400;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.header__ul{
    padding-left: 2rem;
    background: linear-gradient(to right, rgb(150, 154, 247, 0.3), rgba(150, 154, 247, 0));
    border-radius: 10px;


}
.header__ul li{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 1%;
}
.li__check{
    padding-right: 1%;
    height: 10px;
    width: 10px;
}


.header__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28vw;
    height: 40vh;
    background-color: rgba(242, 243, 245, 1);
    border-radius: 0 0 10px  10px;
    padding: 2rem;
    gap: 0.6rem;
}
.label__header{
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 28vw;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px  10px 0 0;
    background: linear-gradient(rgba(106, 50, 180, 1), rgba(85, 38, 147, 1));
}

.header__btn, .container3__btn{
    background-color: rgba(255, 165, 0, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

input{
    padding-left: 1rem;
}

input, .header__btn, .footer__btn{
    height: 8vh;
    border-radius: 10px;
    border: none;
}
 /* main styles */

 .main__container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("assets/background__main.png");
    background-size: cover;
    padding: 7rem;
    margin-top: -4rem;
 }

 .container__3cards{
    display: flex;
    gap: 3rem;
 }

 .main__title{
    font-size: 28pt;
    font-weight: 700;
 }

 .card__title{
    color: rgba(42, 51, 108, 1);
    font-weight: 700;
    font-size: 12pt;
 }

.card__descr{
    font-weight: 300;
    font-size: 9pt;
}

.card__icon{
height: 5rem;
width: 5rem;
}

 .main__cards{
    padding: 1rem;
    background-image: url("assets/card__container.png");
 }

 .main__container2{
    background-image: url("assets/background3.2.png"),
                      url("assets/background3.1.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7rem;
    gap: 3rem;
 }

 .container2__title, .container4__title {
    color: rgba(255, 255, 255, 1);
    font-size: 30pt;
 }

 .container2__paragraph{
    color: rgba(255, 255, 255, 1);
 }

 .container2__imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
 }

 .main__container3{
    background-image: url("assets/background4.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7rem;
    gap: 3rem;
 }

 .container3__title{
    font-size: 30pt;
 }

 .container3__btn{
    height: 3rem;
    width: 15%;
    border: none;
 }

 .main__container4{
    background-image: url("assets/background4.2.png"),
                    url("assets/background4.1.png");
     background-size: cover;
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7rem;
    gap: 3rem;
    margin-top: -4rem;
 }

 /* footer */
 footer{
    background-color: rgba(51, 51, 51, 1);
 }
  .footer__btn{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 16vw;
    background-color: rgba(150, 154, 247, 1);
    color: rgba(255, 255, 255, 1);
  }